<h2>Formulario Natacion</h2>
<form action="" id="formNatacion">
    <div>
        <div class="container mt-4">
            <div>
                <label for="inputEquipoNatacion">Equipo Natacion</label>
                <input type="text" id="inputEquipoNatacion" placeholder="Nombre del Equipo">
            </div>
            <br>
            <div>
                <label for="inputEquipoNatacion">Nombre del nadador</label>
                <input type="text" id="inputEquipoNatacion" placeholder="Nombre del Equipo">
            </div>
            <br>
            <div>
                <label for="inputEquipoNatacion">DNI nadador</label>
                <input type="text" id="inputEquipoNatacion" placeholder="Nombre del Equipo">
            </div>
            <div>

            </div>
        </div>
    </div>
</form>