<div class="container-fluid">
    <h1><u><strong>Inscripcion Equipo Baloncesto</strong></u></h1>
  
    <!-- Primer formulario -->
    <form class="form-control">
      <label for="inputNombreEquipo">Nombre Equipo: </label>
      <input type="text" id="inputNombreEquipo" name="inputNombreEquipo" placeholder="Nombre del Equipo" [(ngModel)]="equipo.nombreEquipo" #nombreEquipo="ngModel" required>
      
      <br><br>
  
      <label for="inputLocalidadEquipo">Localidad Equipo: </label>
      <input type="text" id="inputLocalidadEquipo" name="inputLocalidadEquipo" placeholder="Localidad del Equipo" [(ngModel)]="equipo.localidad">
  
      <br><br>
  
      <label for="inputDireccionEquipo">Direccion Equipo: </label>
      <input type="text" id="inputDireccionEquipo" name="inputDireccionEquipo" placeholder="Direccion del Equipo" [(ngModel)]="equipo.direccion">
  
      <br><br>
  
      <label for="selectModalidadBaloncesto">Modalidad: </label>
      <select name="selectModalidadBaloncesto" id="selectModalidadBaloncesto" (change)="seleccionarModalidad($event)">
        <option value="seleccioneModalidad">Seleccione Modalidad</option>
        <option value="3x3">3 x 3</option>
        <option value="5x5">5 x 5</option>
      </select>
    </form>

    <br><br>
  
    <!-- Formulario 3x3 -->
    <form class="form-control" *ngIf="mostrarFormulario3x3">
      <label for="inputNombreCapitan">Nombre Capitán: </label>
      <input type="text" id="inputNombreCapitan" name="inputNombreCapitan" placeholder="Nombre del Capitan" [(ngModel)]="equipo.capitan">
  
      <br><br>
  
      <label for="inputNombreJug1">Nombre Jugador 1: </label>
      <input type="text" id="inputNombreJug1" name="inputNombreJug1" placeholder="Nombre del Jugador 1" [(ngModel)]="equipo.jugadores[0]">
  
      <br><br>        
          
      <label for="inputNombreJug2">Nombre Jugador 2: </label>
      <input type="text" id="inputNombreJug2" name="inputNombreJug2" placeholder="Nombre del Jugador 2" [(ngModel)]="equipo.jugadores[1]">
  
      <br><br>        
          
      <label for="inputNombreJug3">Nombre Jugador 3: </label>
      <input type="text" id="inputNombreJug3" name="inputNombreJug3" placeholder="Nombre del Jugador 3" [(ngModel)]="equipo.jugadores[2]">
  
      <br><br>
  
      <button class="btn btn-primary" id="botonInscribir3x3" name="botonInscribir3x3" type="button" (click)="inscribirEquipo3x3()">Inscribir</button>
    </form>
  
    <!-- Formulario 5x5 -->
    <form class="form-control" *ngIf="mostrarFormulario5x5">
      <label for="inputNombreCapitan5">Nombre Capitán: </label>
      <input type="text" id="inputNombreCapitan5" name="inputNombreCapitan5" placeholder="Nombre del Capitan" [(ngModel)]="equipo.capitan">
  
      <br><br>
  
      <label for="inputNombreJug15">Nombre Jugador 1: </label>
      <input type="text" id="inputNombreJug15" name="inputNombreJug15" placeholder="Nombre del Jugador 1" [(ngModel)]="equipo.jugadores[0]">
  
      <br><br>        
          
      <label for="inputNombreJug25">Nombre Jugador 2: </label>
      <input type="text" id="inputNombreJug25" name="inputNombreJug25" placeholder="Nombre del Jugador 2" [(ngModel)]="equipo.jugadores[1]">
  
      <br><br>        
          
      <label for="inputNombreJug35">Nombre Jugador 3: </label>
      <input type="text" id="inputNombreJug35" name="inputNombreJug35" placeholder="Nombre del Jugador 3" [(ngModel)]="equipo.jugadores[2]">
  
      <br><br>
  
      <label for="inputNombreJug45">Nombre Jugador 4: </label>
      <input type="text" id="inputNombreJug45" name="inputNombreJug45" placeholder="Nombre del Jugador 4" [(ngModel)]="equipo.jugadores[3]">
  
      <br><br>
  
      <label for="inputNombreJug55">Nombre Jugador 5: </label>
      <input type="text" id="inputNombreJug55" name="inputNombreJug55" placeholder="Nombre del Jugador 5" [(ngModel)]="equipo.jugadores[4]">
  
      <br><br>
  
      <label for="inputNombreJug65">Nombre Jugador 6: </label>
      <input type="text" id="inputNombreJug65" name="inputNombreJug65" placeholder="Nombre del Jugador 6" [(ngModel)]="equipo.jugadores[5]">
  
      <br><br>
  
      <label for="inputNombreJug75">Nombre Jugador 7: </label>
      <input type="text" id="inputNombreJug75" name="inputNombreJug75" placeholder="Nombre del Jugador 7" [(ngModel)]="equipo.jugadores[6]">
  
      <br><br>
  
      <label for="inputNombreJug85">Nombre Jugador 8: </label>
      <input type="text" id="inputNombreJug85" name="inputNombreJug85" placeholder="Nombre del Jugador 8" [(ngModel)]="equipo.jugadores[7]">
  
      <br><br>
  
      <label for="inputNombreJug95">Nombre Jugador 9: </label>
      <input type="text" id="inputNombreJug95" name="inputNombreJug95" placeholder="Nombre del Jugador 9" [(ngModel)]="equipo.jugadores[8]">
  
      <br><br>
  
      <button class="btn btn-primary" id="botonInscribir5x5" name="botonInscribir5x5" type="button" (click)="inscribirEquipo5x5()">Inscribir</button>
    </form>

    <br><br>

    <button (click)="mostrarArrays()">Mostrar Equipos</button>


    <br><br>
  </div>
  
