<div class="container mt-5 mb-5 p-4">
<form class="card p-4 shadow-sm">
  <h2 class="text-center mb-4">Inscripción Equipo de Baloncesto</h2>

  <div class="mb-3">
      <label for="inputNombreEquipo" class="form-label">Nombre del Equipo</label>
      <input type="text" class="form-control" id="inputNombreEquipo" name="nombre_equipo"
          placeholder="Nombre del Equipo" [(ngModel)]="equipo.nombre_equipo" required>
  </div>

  <div class="mb-3">
      <label for="inputLocalidadEquipo" class="form-label">Localidad del Equipo</label>
      <input type="text" class="form-control" id="inputLocalidadEquipo" name="localidad"
          placeholder="Localidad del Equipo" [(ngModel)]="equipo.localidad">
  </div>

  <div class="mb-3">
      <label for="inputDireccionEquipo" class="form-label">Dirección del Equipo</label>
      <input type="text" class="form-control" id="inputDireccionEquipo" name="direccion"
          placeholder="Dirección del Equipo" [(ngModel)]="equipo.direccion">
  </div>

  <div class="mb-3">
      <label for="selectModalidadBaloncesto" class="form-label">Modalidad</label>
      <select class="form-select" id="selectModalidadBaloncesto" (change)="seleccionarModalidad($event)">
          <option value="seleccioneModalidad">Seleccione Modalidad</option>
          <option value="3x3">3 x 3</option>
          <option value="5x5">5 x 5</option>
      </select>
  </div>
</form>

<!-- Formulario Dinámico -->
<form class="card p-4 mt-4 shadow-sm" *ngIf="modalidadSeleccionada !== 'seleccioneModalidad'">
  <div class="mb-3">
      <label class="form-label text-dark fs-5">Nombre Capitán</label>
      <input type="text" class="form-control form-control-lg" name="capitan" placeholder="Nombre del Capitán"
          [(ngModel)]="equipo.capitan">
  </div>

  <!-- Jugadores -->
  <div class="mb-4">
    <label class="form-label text-dark fs-5">Jugadores</label>
    <div *ngFor="let jugador of equipo.jugadores; let i = index; trackBy: trackByIndex" class="d-flex align-items-center mb-3">
      <input [(ngModel)]="equipo.jugadores[i].nombre" name="jugador{{i}}" placeholder="Nombre y apellidos del jugador" required class="form-control form-control-lg me-2" [pattern]="jugadorPattern" />
      <button type="button" class="btn btn-danger btn-lg" (click)="eliminarJugador(i)">
        <i class="bi bi-x-circle"></i> Eliminar
      </button>
    </div>
    <button type="button" class="btn btn-outline-success btn-lg w-100" (click)="agregarJugador()" [disabled]="equipo.jugadores.length >= maxJugadores">
      <i class="bi bi-plus-circle"></i> Agregar Jugador (Máximo {{ maxJugadores }})
    </button>
  </div>
  

  <button class="btn btn-primary btn-lg w-100" (click)="inscribirEquipo()" type="button">
      Inscribir
  </button>
</form>
</div>
