<div class="container-fluid">
    <h1><u><strong>Inscripcion Equipo Baloncesto</strong></u></h1>
    <form class="form-control">
        <label for="inputNombreEquipo">Nombre Equipo: </label>
        <input type="text" id="inputNombreEquipo" name="inputNombreEquipo" placeholder="Nombre del Equipo">
        
        <br><br>

        <label for="inputLocalidadEquipo">Localidad Equipo: </label>
        <input type="text" id="inputLocalidadEquipo" name="inputLocalidadEquipo" placeholder="Localidad del Equipo">

        <br><br>

        <label for="inputDireccionEquipo">Direccion Equipo: </label>
        <input type="text" id="inputDireccionEquipo" name="inputDireccionEquipo" placeholder="Direccion del Equipo">

        <br><br>

        <label for="selectModalidadBaloncesto">Modalidad: </label>
        <select name="selectModalidadBaloncesto" id="selectModalidadBaloncesto">
            <option value="seleccioneModalidad">Seleccione Modalidad</option>
            <option value="5x5">5 x 5</option>
            <option value="3x3">3 x 3</option>
        </select>

        <br><br>

        <button class="btn btn-primary" id="botonInsertar" name="botonInsertar">Insertar</button>
    </form>
    <form class="form-control">
        <label for="inputNombreCapitan">Nombre Capitán: </label>
        <input type="text" id="inputNombreCapitan" name="inputNombreCapitan" placeholder="Nombre del Capitan">
        
        <br><br>

        <label for="inputNombreJug1">Nombre Jugador 1: </label>
        <input type="text" id="inputNombreJug1" name="inputNombreJug1" placeholder="Nombre del Jugador 1">
        
        <br><br>        
        
        <label for="inputNombreJug2">Nombre Jugador 2: </label>
        <input type="text" id="inputNombreJug2" name="inputNombreJug2" placeholder="Nombre del Jugador 2">
        
        <br><br>        
        
        <label for="inputNombreJug3">Nombre Jugador 3: </label>
        <input type="text" id="inputNombreJug3" name="inputNombreJug3" placeholder="Nombre del Jugador 3">
        
        <br><br>

        <button class="btn btn-primary" id="botonInscribir3x3" name="botonInscribir3x3">Inscribir</button>
    </form>
    <form class="form-control">
        <label for="inputNombreEquipo">Nombre Equipo: </label>
        <input type="text" id="inputNombreEquipo" name="inputNombreEquipo" placeholder="Nombre del Equipo">
        
        <br><br>

        <label for="inputLocalidadEquipo">Localidad Equipo: </label>
        <input type="text" id="inputLocalidadEquipo" name="inputLocalidadEquipo" placeholder="Localidad del Equipo">

        <br><br>

        <label for="inputDireccionEquipo">Direccion Equipo: </label>
        <input type="text" id="inputDireccionEquipo" name="inputDireccionEquipo" placeholder="Direccion del Equipo">

        <br><br>

        <label for="selectModalidadBaloncesto">Modalidad: </label>
        <select name="selectModalidadBaloncesto" id="selectModalidadBaloncesto">
            <option value="seleccioneModalidad">Seleccione Modalidad</option>
            <option value="5x5">5 x 5</option>
            <option value="3x3">3 x 3</option>
        </select>

        <br><br>

        <button class="btn btn-primary" id="botonInsertar" name="botonInsertar">Insertar</button>
    </form>
</div>
