<footer class="bg-dark text-white py-4">
  <div class="container">
    <div class="row align-items-center text-center">
      
      <!-- Sección de autores -->
      <div class="col-md-4 mb-3 mb-md-0">
        <p class="fw-bold">Hecho por:</p>
        <p>Juan Triguero</p>
        <p>Raúl Marín</p>
        <p>Antonio Valverde</p>
      </div>
      
      <!-- Logo centrado -->
      <div class="col-md-4 mb-3 mb-md-0">
        <a class="navbar-brand" href="/home">
        <img src="assets/logo/logo-web.png" alt="Logo" class="rounded-circle img-fluid" style="max-width: 150px;">
        </a>
      </div>
      
      <!-- Redes sociales -->
      <div class="col-md-4">
        <p class="fw-bold">Síguenos en:</p>
        <p><i class="bi bi-instagram"></i> gestion_torneos</p>
        <p><i class="bi bi-tiktok"></i> gestion_torneos</p>
        <p><i class="bi bi-facebook"></i> gestion_torneos</p>
      </div>
      
    </div>
  </div>
</footer>
